# WizardsCo: A Data Wizards Assignment

### Create DataBase and connect to it

In [2]:
# Import required modules
import sqlite3
import pandas as pd

# Connecting to the WizardsCo database
connection = sqlite3.connect('wizards_co.db')

# Creating a cursor object to execute
# SQL queries on a database table
cursor = connection.cursor()

### Create different SQL tables from CSV files using pandas library

In [67]:
customer = pd.read_csv('files/customer.csv')
customer.to_sql('customer', connection)

In [68]:
country = pd.read_csv('files/country.csv')
country.to_sql('country', connection)

In [69]:
installation = pd.read_csv('files/installation.csv')
installation.to_sql('installation', connection)

In [70]:
product_category = pd.read_csv('files/product_category.csv')
product_category.to_sql('product_category', connection)

In [71]:
product = pd.read_csv('files/product.csv')
product.to_sql('product', connection)

### Create new empty table "fact_installation"

In [72]:
create_table = """CREATE TABLE fact_installation(
                installation_id INTEGER,
                product_id INTEGER,
                customer_id INTEGER,
                product_category TEXT,
                price TEXT,
                region TEXT,
                installation_date TEXT,
                premium_customer TEXT);"""

cursor.execute(create_table)

### Import relevant data to the newly created table

In [74]:
import_data = """INSERT INTO fact_installation(installation_id, product_id, customer_id, product_category, price, region, installation_date, premium_customer)
                SELECT i.id, p.id, cu.id, pc.name, p.price, co.region, i.installation_date, cu.premium_customer
                FROM installation AS i
                INNER JOIN product AS p ON p.id = i.product_id
                INNER JOIN customer AS cu ON cu.id = i.customer_id
                INNER JOIN product_category AS pc ON pc.id = p.category_id
                INNER JOIN country AS co ON co.id = cu.country_id"""

cursor.execute(import_data)
connection.commit()

### Change installation_date column to installation_month

In [76]:
#first change the date by selecting only the month from yyyy-mm-dd format
update_date = """UPDATE fact_installation
                SET installation_date = SUBSTR(installation_date, 6, 2)"""

cursor.execute(update_date)

In [77]:
#then change the column name to installation_month
update_name = """ALTER TABLE fact_installation
                RENAME COLUMN installation_date TO installation_month"""

cursor.execute(update_name)

In [3]:
#read table to see results
pd.read_sql_query('SELECT * FROM fact_installation', connection)

,installation_id,product_id,customer_id,product_category,price,region,installation_month,premium_customer
0,1000,1005,1004,IT & Network Stuff,789€,Europe,10,no
1,1001,1003,1005,Beauty Accessories,90€,Europe,10,yes
2,1002,1000,1000,Dangerous Items,12345€,Europe,09,yes
3,1003,1000,1001,Dangerous Items,12345€,Asia,09,yes
4,1004,1002,1002,Miscellaneous,12€,America,08,no
5,1005,1005,1003,IT & Network Stuff,789€,Europe,08,yes
6,1006,1005,1004,IT & Network Stuff,789€,Europe,07,no
7,1007,1004,1001,Beauty Accessories,5€,Asia,07,yes
8,1008,1003,1000,Beauty Accessories,90€,Europe,10,yes
9,1009,1004,1004,Beauty Accessories,5€,Europe,05,no
10,1010,1000,1002,Dangerous Items,12345€,America,05,no
11,1011,1001,1005,Medical Device,4€,Europe,09,yes
12,1012,1005,1004,IT & Network Stuff,789€,Europe,09,no
13,1013,1003,1005,Beauty Accessories,90€,Europe,07,yes
14,1014,1000,1000,Dangerous Items,12345€,Europe,08,yes
15,1015,1000,1001,Dangerous Items,12345€,Asia,07,yes
16,1016,1002,1002,Miscellaneous,12€,America,07,no
17,1017,1005,1003,IT & Network Stuff,789€,Europe,08,yes
18,1018,1005,1004,IT & Network Stuff,789€,Europe,08,no
19,1019,1004,1001,Beauty Accessories,5€,Asia,10,yes
20,1020,1003,1000,Beauty Accessories,90€,Europe,09,yes
21,1021,1004,1004,Beauty Accessories,5€,Europe,04,no
22,1022,1000,1002,Dangerous Items,12345€,America,10,no
23,1023,1001,1005,Medical Device,4€,Europe,09,yes
24,1024,1005,1004,IT & Network Stuff,789€,Europe,10,no
25,1025,1003,1005,Beauty Accessories,90€,Europe,10,yes
26,1026,1000,1000,Dangerous Items,12345€,Europe,09,yes
27,1027,1000,1001,Dangerous Items,12345€,Asia,10,yes
28,1028,1002,1002,Miscellaneous,12€,America,08,no
29,1029,1005,1003,IT & Network Stuff,789€,Europe,08,yes
30,1030,1005,1004,IT & Network Stuff,789€,Europe,09,no
31,1031,1004,1001,Beauty Accessories,5€,Asia,08,yes
32,1032,1003,1000,Beauty Accessories,90€,Europe,04,yes
33,1033,1004,1004,Beauty Accessories,5€,Europe,06,no
34,1034,1000,1002,Dangerous Items,12345€,America,10,no
35,1035,1001,1005,Medical Device,4€,Europe,10,yes

In [79]:
#close the connection
cursor.close()